<?xml version="1.0" encoding="UTF-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="Account" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Account.mdf;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient" />
		<add name="Class" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Class.mdf;Integrated Security=True;User Instance=False" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.web>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0" />
		<customErrors mode="RemoteOnly" defaultRedirect="mycustompage.htm"/>
	</system.web>
</configuration>